# Homework 1
#### Assigned: 2019-02-14
#### Due EOD: 2019-02-21

Based on Lecture 3
+ The student fills in the <...> fields.  
+ The student can create as many new cells as necessary in the solution sections.

*Useful LaTeX macros that save typing (click into cell to see them)*
$\def\bX{\boldsymbol{X}}$
$\def\bx{\boldsymbol{x}}$
$\def\by{\boldsymbol{y}}$
$\def\bhy{\boldsymbol{\hat{y}}}$
$\def\bid{\boldsymbol{I}}$

#### Name:  <$YuLiu$>
#### NetID: <$yl5526$>

## Problem 1 (30 points)

Given observations $\bX\;$ and  $\by$, and using equation (10) in lecture 3, we see that the fitted values $\bhy\,$ are given by
$$
\bhy = \bX \cdot ( \bX\;^T \cdot \bX\;)^{-1} \cdot \bX\;^T  \cdot \by
$$
We define the $n\times n$ matrix operator
$$
P := \bX \cdot ( \bX\;^T \cdot \bX\;)^{-1} \cdot \bX\;^T \qquad (1)
$$
and its complement
$$
M := \bid - P \qquad (2)
$$
with $\bid\,$ the $n \times n$ identity matrix.  
The matrix $P$ is an **orthogonal projection** matrix. It projects any vector $\by\,$ into $P\cdot \by$, which lives in the subspace spanned by the column vectors of $\bX$.  

Show the above statement, by proving the following:  
1) $P^2=P$ (projecting twice is the same as projecting once, idempotent matrix)  
2) $(P\cdot\bx)^T \cdot (M \cdot \by)= 0$ (the projections of $P$ and $M$ are orthogonal vectors for every $\bx$ and $\by$)

## Solution 1

1)
We have
$$
P := \bX \cdot ( \bX\;^T \cdot \bX\;)^{-1} \cdot \bX\;^T
$$
Then
$$
P^2 = \bX \cdot ( \bX\;^T \cdot \bX\;)^{-1} \cdot \bX\;^T \cdot \bX \cdot ( \bX\;^T \cdot \bX\;)^{-1} \cdot \bX\;^T
$$
$$
= \bX \cdot ( \bX\;^T \cdot \bX\;)^{-1} \cdot ( \bX\;^T \cdot \bX ) \cdot ( \bX\;^T \cdot \bX\;)^{-1} \cdot \bX\;^T
$$
$$
= \bX \cdot \bid \cdot ( \bX\;^T \cdot \bX\;)^{-1} \cdot \bX\;^T
$$
$$
= \bX \cdot ( \bX\;^T \cdot \bX\;)^{-1} \cdot \bX\;^T
$$
$$
= P
$$
which means $P$ is an idempotent projection

2)
We have
$$
M := \bid - P \qquad (2)
$$
Then
$$
(P \cdot \bx)^T \cdot (M \cdot \by)= \bx^T \cdot P^T \cdot (( \bid - P ) \cdot \by)
$$
$$
= \bx^T \cdot ( P^T - P^T \cdot P ) \cdot \by
$$
We also have
$$
P^T= ( \bX \cdot ( \bX\;^T \cdot \bX\;)^{-1} \cdot \bX\;^T )^T
$$
$$
= \bX \cdot ( ( \bX\;^T \cdot \bX )^{-1} )^T \cdot \bX\;^T
$$
$$
= \bX \cdot ( ( \bX\;^T \cdot \bX )^T )^{-1} \cdot \bX\;^T
$$
$$
= X \cdot ( X^T \cdot X)^{-1} \cdot X^T = P 
$$
which means $P$ is symmetric. 
 Therefore
$$
P^T - P^T \cdot P = P - P^2 = P - P = 0
$$
And
$$
(P \cdot \bx)^T \cdot (M \cdot \by) = \bx^T \cdot ( P^T - P^T \cdot P ) \cdot \by = 0
$$
Based on the property that every symmetric and idempotent matrix $P$ is known as an orthogonal projection matrix, $P$ is an **orthogonal projection** matrix which projects any vector $\by\,$ into $P\cdot \by$, which lives in the subspace spanned by the column vectors of $\bX$.

## Problem 2 (70 points)

The Capital Asset Pricing Model (CAPM) states that the excess return of every stock above the risk-free return ($r_{stk} - r_{rf}$) is on average proportional to the whole market excess return ($r_{mkt} - r_{rf}$). The proportionality coefficient is called "beta" and it is a measure of the riskiness of the stock.  The constant intercept is called "alpha" and by CAPM it must be zero. Therefore, we have the linear regression model  
$$
r_{stk} - r_{rf} = \alpha + \beta (r_{mkt} - r_{rf}) + \epsilon \qquad (3)
$$

**Do the following:**  

Load the file "stock-treasury-2004_2006.csv", to be found in the "Data" folder.  
For each trading day in the study period the dateset contains:  
+ TREAS_3M: the yield of the 3-month treasury note in percent (i.e 2.1 means 2.1%)
+ Adjusted close price of ten major stocks: GM, F, UTX, CAT, MRK, PFE, IBM, MSFT, C, XOM
+ SP: The S&P 500 equity index level  

For each stock and the SP index compute one-day returns as:  $r_t = P_{t+1}/P_t - 1$  
For the treasury notes, assume that the 3-month yield is realized over 90 days, so turn it into daily by dividing by 90.  
Subtract the treasury daily return from each stock and index return to compute excess returns.  
Collect all excess returns in a new data frame and summarize it using the .describe() method.  
It is recommended to express all daily returns in basis points (10,000 bps = 100% = 1)

Run a linear regression for *each* stock, using its excess return as the y-variable and the SP index excess return as the x-variable.

Run the regressions using Scikit-Learn and collect the results for each stock in a data frame like below

|sym | alpha | beta | r_squared |  
|----|-------|------|-----------|
| GM | ...   | ...  | ...       |

Run the same regressions using Statsmodels and collect results in a data frame like below

|sym | alpha | alpha_se| alpha_pval |beta | beta_se | beta_pval| r_squared |  
|----|-------|---------|------------|-----|---------|----------|-----------|
| GM | ...   | ...     |  ...       | ... | ...     | ...      | ...       |

'alpha_se' is the standard error for the estimated alpha, and 'alpha_pval' is the p-value. Same with beta.  

+ Compare the two data frames and assert that they return the same values for alpha and beta.  
+ Based on the p-values, can we reject the null hypotheses alpha=0 or beta=0?  
+ Is CAPM a good model for explaning daily stock return variance?

## Solution 2

### Packages

In [165]:
# data and stats packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import scipy.stats as stats

# modeling packages
from sklearn import  linear_model
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

### Load Dataset

In [166]:
datapath = '/Users/yuliu/Documents/7773 Machine Learning/Data/stock-treasury-2004_2006.csv'
stock_data=pd.read_csv(datapath)
display(stock_data.head())
display(stock_data.tail())

,Date,TREAS_3M,GM,F,UTX,CAT,MRK,PFE,IBM,MSFT,C,XOM,SP
0,02-Jan-04,0.91,46.72,14.55,45.13,39.35,41.76,32.85,89.10,24.00,44.17,38.31,1108.48
1,05-Jan-04,0.90,47.55,15.02,45.40,40.42,42.60,33.73,90.56,24.60,44.88,39.20,1122.22
2,06-Jan-04,0.90,47.26,14.97,45.29,39.70,42.40,33.71,90.57,24.69,44.93,38.94,1123.67
3,07-Jan-04,0.89,47.91,15.38,45.43,39.27,42.45,34.00,90.30,24.66,44.99,38.65,1126.33
4,08-Jan-04,0.86,47.90,15.48,45.38,38.97,42.67,33.68,90.55,24.62,45.18,38.56,1131.92

,Date,TREAS_3M,GM,F,UTX,CAT,MRK,PFE,IBM,MSFT,C,XOM,SP
668,28-Aug-06,4.97,29.43,8.05,61.53,66.07,40.57,27.54,80.32,25.95,49.12,70.10,1301.78
669,29-Aug-06,4.94,29.45,8.26,62.17,65.45,40.89,27.60,81.40,25.84,49.26,69.41,1304.28
670,30-Aug-06,4.92,29.25,8.27,62.27,65.06,40.80,27.73,81.22,25.80,49.52,68.30,1305.37
671,31-Aug-06,4.92,29.18,8.37,62.71,66.35,40.55,27.56,80.97,25.70,49.35,67.67,1303.82
672,01-Sep-06,4.89,30.27,8.27,63.26,67.27,40.96,27.96,81.41,25.84,49.37,68.10,1311.01

In [167]:
#For each stock and the SP index compute one-day returns as:𝑟𝑡=𝑃𝑡+1/𝑃𝑡 −1
stock_price=np.array(['GM', 'F', 'UTX', 'CAT', 'MRK', 'PFE', 'IBM', 'MSFT', 'C', 'XOM', 'SP'])
total_stock_return=[]
total_stock_return_withName=[]
for i in range(len(stock_price)):
    stock=stock_data[stock_price[i]]
    single_stock_return=[]
    for j in range(len(stock)):
        if j!=0:
            single_stock_return.append(stock[j]/stock[j-1]-1)
    total_stock_return.append(single_stock_return)        
    total_stock_return_withName.append({stock_price[i]:total_stock_return[i]})
total_stock_return=np.array(total_stock_return)
total_stock_return_withName=np.array(total_stock_return_withName)
print(total_stock_return.shape)
print(total_stock_return_withName.shape)

(11, 672)
(11,)

In [168]:
#For the treasury notes, assume that the 3-month yield is realized over 90 days, so turn it into daily by dividing by 90.
TreasuryNote_daily_yield=stock_data['TREAS_3M']/90/100
TreasuryNote_daily_yield=np.array(TreasuryNote_daily_yield[:-1])
print(TreasuryNote_daily_yield.shape)

(672,)

In [169]:
#Subtract the treasury daily return from each stock and index return to compute excess returns.
excess_return=total_stock_return-TreasuryNote_daily_yield
print(excess_return)

[[ 0.0176643  -0.00619884  0.0136537  ... -0.00734006 -0.00293983
   0.03680769]
 [ 0.03220129 -0.00342889  0.02728811 ...  0.00066176  0.01154523
  -0.0124941 ]
 [ 0.00588161 -0.00252291  0.00299119 ...  0.0010596   0.00651934
   0.00822386]
 ...
 [ 0.01597315  0.00101408  0.00123541 ...  0.00472923 -0.00397962
  -0.0001414 ]
 [ 0.02313042 -0.00673265 -0.00754735 ... -0.01654082 -0.00977068
   0.0058077 ]
 [ 0.01229424  0.00119208  0.00226724 ...  0.00028682 -0.00173407
   0.0049679 ]]

In [170]:
#Collect all excess returns in a new data frame and summarize it using the .describe() method.
#It is recommended to express all daily returns in basis points (10,000 bps = 100% = 1)
excess_return=excess_return*10000
dataset = pd.DataFrame({'GM':excess_return[0,:],'F':excess_return[1,:],
                        'UTX':excess_return[2,:],'CAT':excess_return[3,:],
                        'MRK':excess_return[4,:],'PFE':excess_return[5,:],
                        'IBM':excess_return[6,:],'MSFT':excess_return[7,:],
                        'C':excess_return[8,:],'XOM':excess_return[9,:],
                        'SP':excess_return[10,:]})
dataset.describe()

,GM,F,UTX,CAT,MRK,PFE,IBM,MSFT,C,XOM,SP
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000
mean,-6.911973,-9.759255,2.456532,6.024847,-1.685575,-4.575108,-4.027120,-1.427691,-1.114269,6.138101,-0.454648
std,234.721696,191.627192,110.865591,156.219153,182.389083,141.523242,99.625280,114.131929,90.709975,123.014578,67.892701
min,-1398.180636,-789.183919,-432.216176,-949.693599,-2679.446731,-1117.981565,-832.806868,-1140.532807,-473.842084,-439.284070,-187.985000
25%,-111.554213,-123.536036,-65.628423,-89.462450,-63.630556,-87.305499,-60.919514,-62.475044,-50.739686,-68.918577,-44.394860
50%,-15.725120,-13.643155,0.212193,8.336713,6.015576,-10.772764,-4.911592,-5.365484,-0.988889,11.524384,3.543918
75%,89.315167,98.611623,66.965932,104.211330,74.438215,73.216209,55.718060,55.318514,51.902954,88.571087,41.813572
max,1807.580997,1019.176248,655.723523,504.647351,1298.429957,765.664996,409.785143,611.819224,368.222684,403.951199,210.227858

In [171]:
#Run a linear regression for each stock, using its excess return as the y-variable and the SP index excess return as the x-variable.
#Run the regressions using Scikit-Learn and collect the results for each stock in a data frame like below
alpha_sk=[]
beta_sk=[]
r2_sk=[]
for i in range(10):
    X_train, X_test, y_train, y_test = train_test_split(dataset.iloc[:, -1], dataset.iloc[:, i], 
                                        test_size=0.25, random_state=42)
    lm = linear_model.LinearRegression(fit_intercept=True)
    lm.fit(X_train[:, np.newaxis], y_train)
    alpha_sk.append(lm.intercept_)
    beta_sk.append(lm.coef_)
    r2_score = lm.score(X_test[:, np.newaxis], y_test)
    r2_sk.append(r2_score)
alpha_sk=np.array(alpha_sk)
beta_sk=np.array(beta_sk)
r2_sk=np.array(r2_sk)
stock_name=np.array(['GM', 'F', 'UTX', 'CAT', 'MRK', 'PFE', 'IBM', 'MSFT', 'C', 'XOM'])
Scikit_Learn_results=pd.DataFrame({'sym':stock_name, 'alpha':alpha_sk, 'beta':beta_sk[:,0], 'r_squared':r2})
Scikit_Learn_results

    sym     alpha      beta  r_squared
0    GM -1.680169  1.118910   0.183610
1     F -1.662987  1.314047   0.139296
2   UTX -1.508283  0.966028   0.351448
3   CAT  7.838062  1.433572   0.454951
4   MRK -1.640430  0.701792   0.112648
5   PFE -4.667319  0.958556   0.254036
6   IBM -3.600607  0.881452   0.233930
7  MSFT -2.824091  0.896700   0.174941
8     C -0.023332  0.926247   0.602464
9   XOM  6.969968  1.099056   0.324377

In [172]:
#Run the same regressions using Statsmodels and collect results in a data frame like below
alpha_sta=[]
alpha_se=[]
alpha_pval=[]
beta_sta=[]
beta_se=[]
beta_pval=[]
r_squared=[]
for i in range(10):
    X_train, X_test, y_train, y_test = train_test_split(dataset.iloc[:, -1], dataset.iloc[:, i], 
                                        test_size=0.25, random_state=42)
    X_train = sm.add_constant(X_train)
    X_test = sm.add_constant(X_test)
    model = sm.OLS(y_train, X_train)
    results = model.fit()
    alpha_sta.append(results.params[0])
    alpha_se.append(results.bse[0])
    alpha_pval.append(results.pvalues[0])
    beta_sta.append(results.params[1])
    beta_se.append(results.bse[1])
    beta_pval.append(results.pvalues[1])
    r_squared.append(results.rsquared)
Statsmodels_results=pd.DataFrame({'sym':stock_name, 'alpha':alpha_sta, 'alpha_se':alpha_se,
                           'alpha_pval':alpha_pval, 'beta':beta_sta, 'beta_se':beta_se,
                           'beta_pval':beta_pval, 'r_squared':r_squared})
Statsmodels_results

,sym,alpha,alpha_se,alpha_pval,beta,beta_se,beta_pval,r_squared
0,GM,-1.680169,10.052658,0.867330,1.118910,0.150299,4.263192e-13,0.099424
1,F,-1.662987,7.839362,0.832089,1.314047,0.117208,3.463115e-26,0.200245
2,UTX,-1.508283,3.927154,0.701093,0.966028,0.058716,5.821386e-49,0.350321
3,CAT,7.838062,5.774761,0.175297,1.433572,0.086340,1.146848e-49,0.354497
4,MRK,-1.640430,7.907448,0.835740,0.701792,0.118226,5.452079e-09,0.065588
5,PFE,-4.667319,5.830015,0.423761,0.958556,0.087166,2.375702e-25,0.194134
6,IBM,-3.600607,3.737998,0.335889,0.881452,0.055888,8.252977e-46,0.331337
7,MSFT,-2.824091,4.295862,0.511226,0.896700,0.064228,1.160687e-37,0.279680
8,C,-0.023332,3.092362,0.993983,0.926247,0.046235,4.825734e-66,0.444289
9,XOM,6.969968,4.497166,0.121806,1.099056,0.067238,1.830589e-48,0.347359

In [173]:
#Compare the two data frames and assert that they return the same values for alpha and beta.
alpha_sk=np.around(alpha_sk,decimals=6)
alpha_sta=np.around(alpha_sta,decimals=6)
print(alpha_sk==alpha_sta) 
beta_sk=np.around(beta_sk[:,0],decimals=6)
beta_sta=np.around(beta_sta,decimals=6)
print(beta_sk==beta_sta)

[ True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True]

I can assert the two data frams return the same values for alpha and beta.

In [ ]:
#Based on the p-values, can we reject the null hypotheses alpha=0 or beta=0?

The p-values for alpha are all bigger than 0.05 and are all smaller than 0.05 for beta. Therefore we can reject the null hypothesis alpha=0, but can not reject the null hypothesis of beta=0.

In [ ]:
#Is CAPM a good model for explaning daily stock return variance?

Since we can not reject the null hypothesis of beta=0, beta could possibly equal to zero, making CAPM a bad model to explain daily stock return.